@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#262626] overflow-y-hidden h-screen;
}

img,
video {
  max-width: fit-content !important;
}

::-webkit-scrollbar {
  @apply bg-transparent hidden;
}

.section_title {
  @apply text-4xl font-bold;
}

.section_title_smaller {
  @apply text-2xl font-medium;
}

.section_subtitle {
  @apply uppercase text-xs font-bold;
}

.button_primary {
  @apply bg-[#4857f4] hover:bg-[#3b47d8] font-bold;
}

.button_secondary {
  @apply bg-[#45da5b] hover:bg-[#45da5bcd] font-bold;
}

.button_danger {
  @apply bg-[#f04747] hover:bg-[#f04747dc] font-bold;
}

.sidebar_link {
  @apply bg-[#313339] p-4 rounded-full cursor-pointer flex justify-center items-center w-fit hover:rounded-3xl;
}

.sidebar_link_img_container {
  @apply flex justify-center items-center w-fit;
}

.sidebar_title {
  @apply p-[6px] rounded-md bg-[#191919] left-[4.93rem] text-white font-bold hidden whitespace-nowrap absolute z-30;
  animation: opacity 0.3s;
}

.sidebar_link:hover .sidebar_title {
  @apply block;
}

.sidebar_link_img_container:hover .sidebar_title {
  @apply block;
}

.friend_code {
  @apply hidden;
}

.friend_item:hover .friend_code {
  @apply block;
}

.inputs {
  @apply p-[4px] px-[13px] rounded-md border border-gray-400 bg-[#2b2b2b] text-white w-full;
}

/* ANIMATIONS */
.animate_opacity {
  animation: opacity 0.3s;
}

.animate_fadeIn {
  animation: fadeIn 0.3s;
}

/* KEYFRAMES */

@keyframes opacity {
  0% {
    opacity: 0;
    transform: scale(70%);
  }
  100% {
    opacity: 1;
    transform: scale(100%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(4em);
  }
  100% {
    opacity: 1;
    transform: translateY(0em);
  }
}
