@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#262626] overflow-y-hidden;
}

::-webkit-scrollbar {
  @apply bg-transparent hidden;
}

.section_title {
  @apply text-4xl font-bold;
}

.section_title_smaller {
  @apply text-2xl font-medium;
}

.section_subtitle {
  @apply text-xl font-light;
}

.sidebar_link {
  @apply bg-[#313339] p-4 rounded-full cursor-pointer flex justify-center items-center w-fit hover:rounded-3xl;
}

.sidebar_link_img_container {
  @apply flex justify-center items-center w-fit;
}

.sidebar_title {
  @apply p-[6px] rounded-md bg-[#191919] left-[6rem] text-white font-bold hidden whitespace-nowrap absolute z-30;
  animation: opacity 0.3s;
}

.sidebar_link:hover .sidebar_title {
  @apply block;
}

.sidebar_link_img_container:hover .sidebar_title {
  @apply block;
}

/* ANIMATIONS */
.animate_opacity {
  animation: opacity 0.3s;
}

/* KEYFRAMES */

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
